@import "../../css/wl-common";

.article-list {
  .list {
    .item {
      margin: 0.2rem;
      .title {
        color: $textRightColor;
        font-size: 0.28rem;
      }
      .detail {

      }
    }
  }
}
