@import "../../css/wl-common";

$hei: 1.5rem;
$background: white;
.main {
  position: absolute;
  background: $background;
  .banner {
    width: $pageWidth;
    height: 3.53rem;
    @include getBackground('blog_banner.jpg');
    background-size: $pageWidth 3.83rem;
    background-position-y: -0.3rem;
    position: relative;
    .triangle-left {
      position: absolute;
      bottom: -0.02rem;
      display: inline-block;
      border-right: 3.3rem solid transparent;
      border-bottom: 0.5rem solid $background;
      height: 0;
      width: 3.3rem;
    }
    .triangle-right {
      position: absolute;
      bottom: -0.02rem;
      right: 0;
      display: inline-block;
      border-left: 3.3rem solid transparent;
      border-bottom: 0.5rem solid $background;
      height: 0;
      width: 3.3rem;
    }
    .mask {
      width: $pageWidth;
      height: 3.53rem;
      background: rgba(52, 83, 97, 0.4);
    }
  }
  .list {
    width: $pageWidth;
    margin-top: 0.1rem;
    .item {
      height: $hei;
      position: relative;
      padding-top: 0.3rem;
      .title {
        display: inline-block;
        border-right: 2rem solid transparent;
        height: 0;
        width: 3rem;
        .text {
          position: absolute;
          top: 0.2rem;
          left: 0.4rem;
          font-size: 0.42rem;
          color: white;
          font-weight: bolder;
          display: inline-block;
        }
      }
      .cont {
        position: absolute;
        right: 0;
        top: 0;
        border-left: 2rem solid transparent;
        height: 0;
        width: 5.3rem;
        .text {
          position: absolute;
          top: 0.2rem;
          left: 0.4rem;
          font-size: 0.42rem;
          color: white;
          font-weight: bolder;
          display: inline-block;
        }
      }

      .name {
        text-align: center;
        .text {
          font-size: 0.42rem;
          font-weight: bolder;
          text-align: center;
          border-bottom: 0.05rem solid cadetblue;
        }
      }
      .detail {
        text-align: center;
        .text {
          font-size: 0.22rem;
          line-height: 0.45rem;
        }
      }
      .icon {

      }

      .t1 {
        border-top: $hei solid #fa7c7d;
      }
      .c1 {
        border-bottom: $hei solid rgba(250, 124, 125, 0.7);
      }
      .t2 {
        border-top: $hei solid #fdc753;
      }
      .c2 {
        border-bottom: $hei solid rgba(253, 199, 83, 0.7);
      }
      .t3 {
        border-top: $hei solid #5fb0f2;
      }
      .c3 {
        border-bottom: $hei solid rgba(95, 176, 242, 0.7);
      }
      .t4 {
        border-top: $hei solid #cc99cc;
      }
      .c4 {
        border-bottom: $hei solid rgba(204, 153, 204, 0.7);
      }
    }
  }
  .top {
    width: 5rem;
    height: 10rem;
    background-color: #42b983;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    position: absolute;
    top: -4rem;
    left: -0.6rem;
    z-index: 4;
  }
  .right {
    width: 6rem;
    height: 10rem;
    background-color: #dd524d;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    position: absolute;
    top: -2rem;
    left: 2.6rem;
    z-index: 3;
  }
  .left {
    width: 5rem;
    height: 10rem;
    background-color: lightblue;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    position: absolute;
    top: 1rem;
    left: -0.6rem;
    z-index: 2;
  }
  .bottom {
    width: 5rem;
    height: 10rem;
    background-color: #f0ad4e;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    z-index: 1;
  }
}
