.main {
  position: absolute;
  background: white; }
  .main .banner {
    width: 6.4rem;
    height: 3.53rem;
    background: transparent url("http://on7hxaasw.bkt.clouddn.com/blog_banner.jpg") 0 0 no-repeat;
    background-size: 6.4rem 3.83rem;
    background-position-y: -0.3rem;
    position: relative; }
    .main .banner .triangle-left {
      position: absolute;
      bottom: -0.02rem;
      display: inline-block;
      border-right: 3.3rem solid transparent;
      border-bottom: 0.5rem solid white;
      height: 0;
      width: 3.3rem; }
    .main .banner .triangle-right {
      position: absolute;
      bottom: -0.02rem;
      right: 0;
      display: inline-block;
      border-left: 3.3rem solid transparent;
      border-bottom: 0.5rem solid white;
      height: 0;
      width: 3.3rem; }
    .main .banner .mask {
      width: 6.4rem;
      height: 3.53rem;
      background: rgba(52, 83, 97, 0.4); }
  .main .list {
    width: 6.4rem;
    margin-top: 0.1rem; }
    .main .list .item {
      height: 1.5rem;
      position: relative;
      padding-top: 0.3rem; }
      .main .list .item .title {
        display: inline-block;
        border-right: 2rem solid transparent;
        height: 0;
        width: 3rem; }
        .main .list .item .title .text {
          position: absolute;
          top: 0.2rem;
          left: 0.4rem;
          font-size: 0.42rem;
          color: white;
          font-weight: bolder;
          display: inline-block; }
      .main .list .item .cont {
        position: absolute;
        right: 0;
        top: 0;
        border-left: 2rem solid transparent;
        height: 0;
        width: 5.3rem; }
        .main .list .item .cont .text {
          position: absolute;
          top: 0.2rem;
          left: 0.4rem;
          font-size: 0.42rem;
          color: white;
          font-weight: bolder;
          display: inline-block; }
      .main .list .item .name {
        text-align: center; }
        .main .list .item .name .text {
          font-size: 0.42rem;
          font-weight: bolder;
          text-align: center;
          border-bottom: 0.05rem solid cadetblue; }
      .main .list .item .detail {
        text-align: center; }
        .main .list .item .detail .text {
          font-size: 0.22rem;
          line-height: 0.45rem; }
      .main .list .item .t1 {
        border-top: 1.5rem solid #fa7c7d; }
      .main .list .item .c1 {
        border-bottom: 1.5rem solid rgba(250, 124, 125, 0.7); }
      .main .list .item .t2 {
        border-top: 1.5rem solid #fdc753; }
      .main .list .item .c2 {
        border-bottom: 1.5rem solid rgba(253, 199, 83, 0.7); }
      .main .list .item .t3 {
        border-top: 1.5rem solid #5fb0f2; }
      .main .list .item .c3 {
        border-bottom: 1.5rem solid rgba(95, 176, 242, 0.7); }
      .main .list .item .t4 {
        border-top: 1.5rem solid #cc99cc; }
      .main .list .item .c4 {
        border-bottom: 1.5rem solid rgba(204, 153, 204, 0.7); }
  .main .top {
    width: 5rem;
    height: 10rem;
    background-color: #42b983;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    position: absolute;
    top: -4rem;
    left: -0.6rem;
    z-index: 4; }
  .main .right {
    width: 6rem;
    height: 10rem;
    background-color: #dd524d;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    position: absolute;
    top: -2rem;
    left: 2.6rem;
    z-index: 3; }
  .main .left {
    width: 5rem;
    height: 10rem;
    background-color: lightblue;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    position: absolute;
    top: 1rem;
    left: -0.6rem;
    z-index: 2; }
  .main .bottom {
    width: 5rem;
    height: 10rem;
    background-color: #f0ad4e;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    position: absolute;
    top: 5.5rem;
    left: 1rem;
    z-index: 1; }

/*# sourceMappingURL=mainView.css.map */
