@import "../../css/wl-common";

.main {
  .banner {
    width: $pageWidth;
    height: 3rem;
    background-color: #2c3e50;
  }
  .list {
    width: $pageWidth;
    .item {
      $hei: 1.5rem;
      height: $hei;
      position: relative;
      .title {
        display: inline-block;
        border-top: $hei solid #dd524d;
        border-right: 2rem solid transparent;
        height: 0;
        width: 3rem;
        .text {
          position: absolute;
          top: 0.2rem;
          left: 0.4rem;
          font-size: 0.42rem;
          color: white;
          font-weight: bolder;
          display: inline-block;
        }
      }
      .cont {
        position: absolute;
        right: 0;
        top:0;
        border-bottom: $hei solid cadetblue;
        border-left: 2rem solid transparent;
        height: 0;
        width: 5.3rem;
        .text {
          position: absolute;
          top: 0.2rem;
          left: 0.4rem;
          font-size: 0.42rem;
          color: white;
          font-weight: bolder;
          display: inline-block;
        }
      }
    }
  }
}
